
img.FK
{
	margin-left:auto;
	margin-right:auto;
	display:block;
	cursor:pointer;
	transition-duration:0.28s;
	transition-property:width,height;



}
img.FK:hover{
	width:200px;height:200px;
}

figcaption
{	text-align:center;
	font-size:30px;
	font-family:Helvetica;

}

#sk
{	width:100%
	height:8px;
	background-color:rgba(4, 123, 213,0.4);
		padding:1px;
		margin:2px 0 3px 0;

}
.zoom:hover{
	transform:scale(1.34);
	border-color:darkslategrey;

}
div.Search
{
	margin:auto;
	width:40%;
	height:40px;
	border:4px solid #047BD5;
	background-color:#ede04c;
	padding:10px;
	vertical-align:middle;

}


#Rat{
	text-align:center;
	margin:auto;
	width:30%;
	background-color:#f0ead6;
	padding:3px;
	font-family:Lucida Console;
	display:block;
	border-width:2px;
	border-radius:8px;
	border-color:grey;
	border-style:solid;
	position:sticky;
	top:56px;

}

div.pname
{	font-family:Impact;
	display:block;
		width:80%;
		text-align:center;
		font-size:290%;
		vertical-align:middle;
		line-height:50px;
		height:50px;
		display:table;
	background-color:cornsilk;
	margin:auto;
	border-width:0;
	border-radius:5px;
	padding:9px;
	position:sticky;
	top:2px;
	cursor:pointer;
}
.im
{	width:50%;
	float:left;
	height:900px;
	padding:2px 20px 5px 35px;
}


.pdtimg
{
width:70%;
border-style:solid;
border-color:lightblue;
height:450px;
margin-left:30px;
margin-right:5px;

border-width:4px;
padding:1px;
	cursor:pointer;
	outline-style:groove;
	outline-width:4px;
	outline-color:teal;
	background-color:linen;


	outline-offset:1px;
}
#SKSearch
{ border-style:inset;
	padding:10px;
	border-radius:10px;

}
img.fL
{	padding:3px;
	width="23px" ;height="30px";
	vertical-align:middle;
}

.radio
{	margin:2px;}
.radio input[type="radio"]
{	width:0;}
.radio label
{
	display:inline-block;

	 background-color: #ddd;
    padding: 10px 20px;
    font-family: Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 6px;
    cursor:pointer;
}
.radio input[type="radio"]:checked + label {
    background-color: rgb(4,123,213,0.4);
    border-color: #047BD5;
}

input[type="text"] ,input[type="email"] , input[type="number"] , input[type="tel"]
{
	padding: 10px 10px;
  margin: 6px 0;
  box-sizing: border-box;
	border-radius:7px;
	background-color:rgba(220,220,220,0.35);
	border:none;
	border-bottom: 2px solid black;

}


.clearfix::after {
  content: "";
  clear: both;
  display: table;

}


button.b {
	padding:8px;
	background-color:chocolate;
	border-radius:25px;
	cursor:pointer;
	text-align:center;
	font-size:130%;
	width:80px;
	height:45px;


}
button.b:hover{
		background-color:#808080;
}

.nav li
{		display:inline-block;
		font-size:120%;
		color:white;
		padding:20px 40px 20px 40px;
		text-decoration:none

}
a
{	text-decoration:none;
	color:white;

}
li a:hover{
text-decoration:initial;
}
.nav
{	background-color:seagreen;

	width:100%;
	text-align:center;
	margin:25px 0 3px 0;
	padding:2px;


}

.dd li{
text-decoration:none;
display:none;
position:absolute;
width:150px;
}


.ka:hover .dd li
{	display:block;

}





div.k
{
	width:50px;
    bottom:3px;
    position:fixed;
    display:none;
    height:20px;
    background-color:darkslategrey;
    color:white;
    border-radius:6px;
    text-align:center;
    vertical-align:middle;

    }

   button.Sub{
	padding:10px;
	background-color:lightgreen;
	border-width:2px ;
	border-radius:4px;
	font-size:20px;
	font-family:Helvetica;
	width:100px;
	box-shadow: 0 5px #999;
	 cursor: pointer;
	height:50px;

   }
	button.Sub:hover{
		background-color: #4CAF50;
		color:rgb(255,255,230);
	}
    button.Sub:active
	{
		box-shadow:0 3px #999;
		transform:translateY(4px);
	}
